<%- include('../inc/top') %>

<h1>Trang thêm mới </h1>
<%= msg  %>

<form action="" method="post">
    <select name="theloai">
        <% listTL.forEach( row =>{      %>
            <option value="<%= row._id %>"><%= row.name %></option>
        <%  } )  %>

    </select>

    <input type="text" name="name" placeholder="Tên SP"> <br>
    <input type="number" name="price" placeholder="Giá "> <br>
    <textarea name="description"  cols="30" rows="10"></textarea> <br>
    <button type="submit"> Save </button>
</form>

<%- include('../inc/bottom') %>